*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: #4A4A4A;
    background-color: #FAFAFA;
    font-size: 14px;
    margin: 0;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.button {
    width: 15em;
    height: 3em;
    color: #F2F2F2;
    background-color: #464646;
    border: none;
}

#coin {
    background-image: url(/img/sprites.png);
    background-size: cover;
}

#invite {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
}

    #invite button {
        width: 100%;
        height: 2.75rem;
        margin: 0;
        color: #FAFAFA;
        background-color: #0083FF;
        border: none;
    }

a {
    color: #00B7FF;
}

.hidden {
    //display: none;
}

.invite-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

    .invite-icon.send {
        background-image: url('/img/send_icon.png');
        background-size: cover;
    }

    .invite-icon.share {
        background-image: url('/img/share_icon.png');
        background-size: cover;
    }

@media only screen and (min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .invite-icon.send {
        background-image: url('/img/send_icon@2x.png');
    }

    .invite-icon.share {
        background-image: url('/img/share_icon@2x.png');
    }
}